[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beancount = "*"
titlecase = "*"
pipfile = "*"
fava = "*"
ofxtools = "*"
fava-dashboards = {git = "https://github.com/andreasgerstmayr/fava-dashboards.git"}

[dev-packages]

[requires]
python_version = "3.13"
